a,
div,
article,
h3,
header,
span,
ul,
li,
i,
figure,
image,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: Karla, Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
.item .entry-header:after {
  content: "";
  clear: both;
  display: block;
}
.type-9 {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.type-9 .main-page-wrapper {
  padding-top: 40px;
  margin-top: -40px;
  background: #fff;
}
.type-9 .page-title-default {
  background-color: #0a0a0a;
  background-size: cover;
}
.type-9 .title-size-small {
  padding: 15px 0;
}
.type-9 .title-size-small {
  padding: 15px 0;
}
.type-9 .page-title {
  width: 100%;
  border-bottom: 1px solid rgba(168,168,168,0.15);
  position: relative;
  margin-bottom: 40px;
}
.type-9 .title-design-centered .entry-header {
  text-align: center;
}
.type-9 .title-size-small .entry-title,
.type-9 .title-size-small h1 {
  font-size: 36px;
}
.type-9 .page-title .entry-title,
.type-9 .page-title h1 {
  margin-bottom: 0;
  text-transform: uppercase;
}
.type-9 .color-scheme-light h3 {
  color: #fff;
}
.type-9 .h3 {
  font-family: Karla, Arial, Helvetica, sans-serif;
}
.type-9 .page-title.color-scheme-light .breadcrumbs {
  color: rgba(255,255,255,0.8);
}
.type-9 .title-design-centered .breadcrumbs {
  margin-top: 5px;
}
.type-9 .page-title.color-scheme-light .breadcrumbs a:hover {
  color: #fff;
}
.type-9 .page-title .entry-header .breadcrumbs>a {
  font-size: 14px;
  display: inline-block;
  color: #fff;
}
.type-9 .span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.type-9 .page-title .entry-header .breadcrumbs>a:before,
.type-9 .page-title .entry-header .yoast-breadcrumb>a:before {
  content: "\f015";
  display: inline-block;
  margin-right: 5px;
  font-family: FontAwesome;
}
.type-9 .page-title .entry-header .breadcrumbs>a:after,
.type-9 .page-title .entry-header .yoast-breadcrumb>a:after {
  content: "/";
  display: inline-block;
  padding: 0 10px;
}
.type-9 .clear {
  clear: both;
  width: 100%;
}
.type-9 .site-content {
  margin-bottom: 40px;
}
.type-9 .item {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}
.type-9 .meta-post-categories {
  margin-left: 0;
  position: relative;
  z-index: 30;
  display: inline-block;
  background-color: #0787a3;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  height: 25px;
  overflow: hidden;
}
.type-9 .meta-post-categories>a {
  display: inline-block;
  line-height: 25px;
  color: #fff;
  text-transform: none;
  font-size: 12px;
}
.type-9 .entry-title-sp {
  margin-left: 0;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: .3px;
  margin-left: 90px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.type-9 .entry-title-sp a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: #1B1919;
  text-decoration: none;
}
.type-9 .entry-title-sp a:hover {
  color: #0787a3;
}
.type-9 .item .entry-thumbnail {
  margin-bottom: 15px;
  position: relative;
  display: block;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.type-9 .item .post-date {
  top: 10px;
  position: absolute;
  left: 10px;
  background-color: #fff;
  box-shadow: 0 0 9px rgba(0,0,0,0.1);
  z-index: 2;
  display: inline-block;
  min-width: 53px;
  text-align: center;
  line-height: 1.2;
}
.type-9 .item .post-date .post-date-day,
.type-9 .item .post-date .post-date-month {
  display: block;
  color: #1B1919;
}
.type-9 .item .post-date .post-date-day {
  padding-top: 4px;
  font-size: 24px;
}
.type-9 .item .post-date .post-date-month {
  padding-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .5px;
}
.type-9 .item .entry-content {
  text-align: left;
  font-size: 15px;
  margin-bottom: 25px;
  padding: 0;
}
.type-9 .item .entry-content h2 {
  margin-top: 20px;
  letter-spacing: .5px;
}
.type-9 .item .entry-content ul {
  text-align: left;
  padding-left: 40px;
  margin-bottom: 20px;
}
.type-9 .item .entry-content li {
  line-height: 1.8;
}
.type-9 .item .entry-content>p:last-child {
  margin-bottom: 0;
}
.type-9 .item img {
  max-width: 100%;
  margin-bottom: 35px;
}
.type-9 .vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.type-9 .vc_row:after {
  clear: both;
}
.type-9 .vc_row:after,
.type-9 .vc_row:before {
  content: " ";
  display: table;
}
.type-9 .vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.type-9 .vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  padding-right: 15px;
  width: 100%;
}
.type-9 .vc_column-inner::after,
.type-9 .vc_column-inner::before {
  content: " ";
  display: table;
}
.type-9 .vc_col-lg-1,
.type-9 .vc_col-lg-10,
.type-9 .vc_col-lg-11,
.type-9 .vc_col-lg-12,
.type-9 .vc_col-lg-2,
.type-9 .vc_col-lg-3,
.type-9 .vc_col-lg-4,
.type-9 .vc_col-lg-5,
.type-9 .vc_col-lg-6,
.type-9 .vc_col-lg-7,
.type-9 .vc_col-lg-8,
.type-9 .vc_col-lg-9,
.type-9 .vc_col-md-1,
.type-9 .vc_col-md-10,
.type-9 .vc_col-md-11,
.type-9 .vc_col-md-12,
.type-9 .vc_col-md-2,
.type-9 .vc_col-md-3,
.type-9 .vc_col-md-4,
.type-9 .vc_col-md-5,
.type-9 .vc_col-md-6,
.type-9 .vc_col-md-7,
.type-9 .vc_col-md-8,
.type-9 .vc_col-md-9,
.type-9 .vc_col-sm-1,
.type-9 .vc_col-sm-10,
.type-9 .vc_col-sm-11,
.type-9 .vc_col-sm-12,
.type-9 .vc_col-sm-2,
.type-9 .vc_col-sm-3,
.type-9 .vc_col-sm-4,
.type-9 .vc_col-sm-5,
.type-9 .vc_col-sm-6,
.type-9 .vc_col-sm-7,
.type-9 .vc_col-sm-8,
.type-9 .vc_col-sm-9,
.type-9 .vc_col-xs-1,
.type-9 .vc_col-xs-10,
.type-9 .vc_col-xs-11,
.type-9 .vc_col-xs-12,
.type-9 .vc_col-xs-2,
.type-9 .vc_col-xs-3,
.type-9 .vc_col-xs-4,
.type-9 .vc_col-xs-5,
.type-9 .vc_col-xs-6,
.type-9 .vc_col-xs-7,
.type-9 .vc_col-xs-8,
.type-9 .vc_col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.type-9 .vc_column-inner::after,
.type-9 .vc_column-inner::before {
  content: " ";
  display: table;
}
.type-9 .basel-images-gallery.spacing-30 {
  margin-left: -15px;
  margin-right: -15px;
}
.type-9 .basel-images-gallery .gallery-images {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.type-9 .basel-images-gallery.basel-gallery-item {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.type-9 a img {
  border: none;
}
.type-9 img {
  height: auto;
  vertical-align: middle;
}
.type-9 .vc_column-inner::after {
  clear: both;
}
.type-9 .wpb_content_element {
  margin-bottom: 35px;
}
.type-9 .wpb_text_column :last-child {
  margin-bottom: 0;
}
.type-9 .title,
.type-9 h1,
.type-9 h2,
.type-9 h3,
.type-9 h4,
.type-9 h5,
.type-9 h6 {
  font-family: Karla, Arial, Helvetica, sans-serif;
  color: #1B1919;
  margin-bottom: 20px;
  line-height: 1.4;
}
.type-9 h2 {
  font-size: 24px;
}
.type-9 strong {
  font-weight: 700;
}
.type-9 .wpb_text_column ul {
  padding-left: 40px;
  margin-bottom: 20px;
  line-height: 1.8;
}
.type-9 ul {
  list-style: none;
}
.type-9 .wpb_text_column ul:not(.social-icons)>li {
  position: relative;
}
.type-9 .wpb_text_column ul:not(.social-icons)>li:before {
  content: "\f105";
  color: #1aada3;
  opacity: .7;
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: -20px;
}
.type-9 .wpb_text_column :last-child,
.type-9 .wpb_text_column p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .type-9 .vc_col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .type-9 .vc_col-sm-1,
  .type-9 .vc_col-sm-10,
  .type-9 .vc_col-sm-11,
  .type-9 .vc_col-sm-12,
  .type-9 .vc_col-sm-2,
  .type-9 .vc_col-sm-3,
  .type-9 .vc_col-sm-4,
  .type-9 .vc_col-sm-5,
  .type-9 .vc_col-sm-6,
  .type-9 .vc_col-sm-7,
  .type-9 .vc_col-sm-8,
  .type-9 .vc_col-sm-9 {
    float: left;
  }
}
@media (min-width: 1200px) {
  .type-9 .vc_col-lg-6 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .type-9 .vc_col-lg-1,
  .type-9 .vc_col-lg-10,
  .type-9 .vc_col-lg-11,
  .type-9 .vc_col-lg-12,
  .type-9 .vc_col-lg-2,
  .type-9 .vc_col-lg-3,
  .type-9 .vc_col-lg-4,
  .type-9 .vc_col-lg-5,
  .type-9 .vc_col-lg-6,
  .type-9 .vc_col-lg-7,
  .type-9 .vc_col-lg-8,
  .type-9 .vc_col-lg-9 {
    float: left;
  }
}
@media (min-width: 992px) {
  .type-9 .vc_col-md-1,
  .type-9 .vc_col-md-10,
  .type-9 .vc_col-md-11,
  .type-9 .vc_col-md-12,
  .type-9 .vc_col-md-2,
  .type-9 .vc_col-md-3,
  .type-9 .vc_col-md-4,
  .type-9 .vc_col-md-5,
  .type-9 .vc_col-md-6,
  .type-9 .vc_col-md-7,
  .type-9 .vc_col-md-8,
  .type-9 .vc_col-md-9 {
    float: left;
  }
}
