img {
  padding: 15px 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.text {
  padding: 15px 15px;
  text-align: center;
  color: #777;
}
.shop-now {
  text-align: center;
  padding: 15px;
}
.shop-now a {
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #C93333;
  background: #C93333;
  padding: 10px 20px;
}
.shop-now a:hover {
  color: #ffffff;
  background: #C93333;
  list-style: none;
  text-decoration: none;
}
.nav_bar {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -67.5px;
  z-index: 11;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}
.hook {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}
.current-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.threed-view-images {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
