a,
div,
article,
h3,
header,
span,
ul,
li,
i,
figure,
image,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.item .entry-header:after {
  content: "";
  clear: both;
  display: block;
}
.type-6 {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.type-6 .main-page-wrapper {
  padding-top: 40px;
  margin-top: -40px;
  background: #fff;
}
.type-6 .page-title-default {
  background-color: #0a0a0a;
  background-size: cover;
}
.type-6 .title-size-small {
  padding: 15px 0;
}
.type-6 .title-size-small {
  padding: 15px 0;
}
.type-6 .page-title {
  width: 100%;
  border-bottom: 1px solid rgba(168,168,168,0.15);
  position: relative;
  margin-bottom: 40px;
}
.type-6 .title-design-centered .entry-header {
  text-align: center;
}
.type-6 .title-size-small .entry-title,
.type-6 .title-size-small h1 {
  font-size: 36px;
}
.type-6 .page-title .entry-title,
.type-6 .page-title h1 {
  margin-bottom: 0;
  text-transform: uppercase;
}
.type-6 .color-scheme-light h3 {
  color: #fff;
}
.type-6 .h3 {
  font-family: Karla, Arial, Helvetica, sans-serif;
}
.type-6 .page-title.color-scheme-light .breadcrumbs {
  color: rgba(255,255,255,0.8);
}
.type-6 .title-design-centered .breadcrumbs {
  margin-top: 5px;
}
.type-6 .page-title.color-scheme-light .breadcrumbs a:hover {
  color: #fff;
}
.type-6 .page-title .entry-header .breadcrumbs>a {
  font-size: 14px;
  display: inline-block;
  color: #fff;
}
.type-6 .span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.type-6 .page-title .entry-header .breadcrumbs>a:before,
.type-6 .page-title .entry-header .yoast-breadcrumb>a:before {
  content: "\f015";
  display: inline-block;
  margin-right: 5px;
  font-family: FontAwesome;
}
.type-6 .page-title .entry-header .breadcrumbs>a:after,
.type-6 .page-title .entry-header .yoast-breadcrumb>a:after {
  content: "/";
  display: inline-block;
  padding: 0 10px;
}
.type-6 .clear {
  clear: both;
  width: 100%;
}
.type-6 .site-content {
  margin-bottom: 40px;
}
.type-6 .item {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}
.type-6 .meta-post-categories {
  margin-left: 0;
  position: relative;
  z-index: 30;
  display: inline-block;
  background-color: #0787a3;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  height: 25px;
  overflow: hidden;
}
.type-6 .meta-post-categories>a {
  display: inline-block;
  line-height: 25px;
  color: #fff;
  text-transform: none;
  font-size: 12px;
}
.type-6 .entry-title-sp {
  margin-left: 0;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: .3px;
  margin-left: 90px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.type-6 .entry-title-sp a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: #1B1919;
  text-decoration: none;
}
.type-6 .entry-title-sp a:hover {
  color: #0787a3;
}
.type-6 .item .entry-thumbnail {
  margin-bottom: 15px;
  position: relative;
  display: block;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.type-6 .item .post-date {
  top: 10px;
  position: absolute;
  left: 10px;
  background-color: #fff;
  box-shadow: 0 0 9px rgba(0,0,0,0.1);
  z-index: 2;
  display: inline-block;
  min-width: 53px;
  text-align: center;
  line-height: 1.2;
}
.type-6 .item .post-date .post-date-day,
.type-6 .item .post-date .post-date-month {
  display: block;
  color: #1B1919;
}
.type-6 .item .post-date .post-date-day {
  padding-top: 4px;
  font-size: 24px;
}
.type-6 .item .post-date .post-date-month {
  padding-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .5px;
}
.type-6 .item .post-img-wrapp {
  overflow: hidden;
  vertical-align: middle;
}
.type-6 .item .post-img-wrapp img {
  border: 0 none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.type-6 .item a {
  color: #4e4e4e;
}
.type-6 .item .post-image-mask {
  display: none;
}
.type-6 .item .entry-content {
  text-align: left;
  font-size: 15px;
  margin-bottom: 25px;
  padding: 0;
}
.type-6 .item .entry-content>p:last-child {
  margin-bottom: 0;
}
.type-6 div img {
  margin: 0;
}
.type-6 .btn.btn-style-link {
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  text-transform: capitalize;
  background-color: transparent;
  color: #6D6D6D;
  border-color: #B5B5B5;
}
.type-6 .btn.btn-style-link:hover {
  background-color: transparent;
  color: #3E3E3E;
  border-color: #3E3E3E;
}
.type-6 .btn {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: .3px;
  border-radius: 0;
  border: 1px solid;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background-color: #ECECEC;
  color: #3E3E3E;
  border-color: #ECECEC;
}
.type-6 .vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.type-6 .vc_row:after,
.type-6 .vc_row:before {
  content: " ";
  display: table;
}
.type-6 .vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.type-6 .vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.type-6 .vc_column-inner::after,
.type-6 .vc_column-inner::before {
  content: " ";
  display: table;
}
.type-6 .wpb_button,
.type-6 .wpb_content_element,
.type-6 ul.wpb_thumbnails-fluid>li {
  margin-bottom: 35px;
}
.type-6 p {
  margin-bottom: 20px;
}
.type-6 .font-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #131313;
}
